.main {
  display: flex;
  display: row;
  padding: 10px;
  height: 100%;
}

.sidebar {
  background-color: rgb(147, 132, 146);
  width: 250px;
  box-shadow: 0 0 2px grey;
  border-radius: 5px;
  height: 100vh;
}
.header {
  background-color: rgb(226, 208, 208);
  border-radius: 5px;
  box-shadow: 0 0 6px;

  margin-bottom: 20px;
  margin-left: 20px;
  height: 10vh;
}
.body {
  border-radius: 5px;
  box-shadow: 0 0 2px;
  height: 88vh;
  margin-left: 20px;
}
.content {
  width: 100%;
}
